body {
    background-image: url("https://www.meme-arsenal.com/memes/22ddeac14016af2091d3d0842937620a.jpg");
}

body {
    padding: 32px 0;
  }
  .box {
    width: 160px;
    height: 150px;
    background: orangered;
    padding: 8px;
    display: grid;
    place-content: right;
    color: goldenrod;
    text-align: right;
  }

  .paperclip {

      width: 60px;
      height: 20px;
     position: absolute;
     margin: 500px;
     top:0;
    
     
      
  }

  img {
      width: 400px;
      height: 200px;
      border: 10px dotted yellowgreen;
  }

 
  .ipsumBox {
      width: 500px;
      height: 800px;
      margin: 139px;
      padding: 100px;
      border: 8px dashed red;
      background-color: #ffca00; 
      font-family: 'Birthstone', cursive;
  }
 
